<div class="w-full ">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-center">
    <div class="text-center p-8 bg-white rounded-lg shadow-lg">
      <h1 class="text-5xl font-bold text-blue-600 mb-4">Bem-vindo ao Code Quiz!</h1>
      <p class="text-lg text-gray-700">Prepare-se para testar seus conhecimentos gerais e em programação.</p>

      <div class="flex justify-center gap-2 mt-6">
        <% if current_user.admin? || current_user.moderator? %>
          <%= link_to "Questionarios", questionnaires_path, class: "px-6 py-2 text-white bg-blue-600 hover:bg-blue-700 rounded-full transition duration-300" %>
          <%= link_to "Questões", questions_path, class: "px-6 py-2 text-white bg-blue-600 hover:bg-blue-700 rounded-full transition duration-300" %>
          <%= link_to "Opções Questões", question_options_path, class: "px-6 py-2 text-white bg-blue-600 hover:bg-blue-700 rounded-full transition duration-300" %>
        <% elsif current_user.student? %>
          <%= link_to "Iniciar Quiz", questionnaires_path, class: "px-6 py-2 text-white bg-blue-600 hover:bg-blue-700 rounded-full transition duration-300" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
