<%= form_with(model: question_option, class: "contents") do |form| %>
  <% if question_option.errors.any? %>
    <div id="error_explanation" class="bg-pink-50 text-pink-600 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(question_option.errors.count, "error") %> proibiu esta opção de ser salva:</h2>

      <ul class="list-disc ml-6">
        <% question_option.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title, class: "block font-medium text-pink-700 mb-2" %>
    <%= form.text_field :title, class: ["block shadow-sm rounded-md border px-3 py-2 w-full", 
        {"border-pink-400 focus:outline-pink-600": question_option.errors[:title].none?, 
         "border-red-400 focus:outline-red-600": question_option.errors[:title].any?}] %>
  </div>

  <div class="my-5 flex items-center gap-2">
    <%= form.label :is_correct, class: "text-pink-700 font-medium" %>
    <%= form.check_box :is_correct, class: ["block h-5 w-5 accent-pink-500", 
        {"border-pink-400 focus:outline-pink-600": question_option.errors[:is_correct].none?, 
         "border-red-400 focus:outline-red-600": question_option.errors[:is_correct].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :question_id, class: "block font-medium text-pink-700 mb-2" %>
    <%= form.text_field :question_id, class: ["block shadow-sm rounded-md border px-3 py-2 w-full", 
        {"border-pink-400 focus:outline-pink-600": question_option.errors[:question_id].none?, 
         "border-red-400 focus:outline-red-600": question_option.errors[:question_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-pink-500 hover:bg-pink-600 text-white font-medium cursor-pointer transition transform hover:scale-105" %>
  </div>
<% end %>
