<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-pink-50 mb-5 text-pink-600 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-5">
    <h1 class="font-bold text-4xl text-pink-700">Opções de Questão</h1>
    <%= link_to "Nova opção", new_question_option_path, class: "rounded-md px-3.5 py-2.5 bg-pink-500 hover:bg-pink-600 text-white font-medium transition" %>
  </div>

  <div id="question_options" class="min-w-full space-y-5">
    <% if @question_options.any? %>
      <% @question_options.each do |question_option| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
          <%= render question_option %>
          <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-0 sm:space-x-2 space-y-2 sm:space-y-0 mt-2 sm:mt-0">
            <%= link_to "Ver", question_option, class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-pink-50 hover:bg-pink-100 text-pink-700 font-medium transition" %>
            <%= link_to "Editar", edit_question_option_path(question_option), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-pink-50 hover:bg-pink-100 text-pink-700 font-medium transition" %>
            <%= button_to "Excluir", question_option, method: :delete, class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer transition", data: { turbo_confirm: "Tem certeza?" } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10 text-pink-600">Nenhuma opção encontrada.</p>
    <% end %>
  </div>
</div>
